.ql-snow .ql-editor ul {
  /* list-style: disc !important;
  list-style-type: disc !important; */
  padding-left: 2rem !important;
  /* margin-left: 0 !important; */
}

.ql-snow .ql-editor li {
  display: list-item !important;
  /* list-style-position: outside !important; */
  list-style-type: inherit !important;
  margin-bottom: 0.25em;
  padding-left: 0;
}

.privacy-policy-container .ql-container.ql-snow {
  border: none !important;
}

.privacy-policy-container .ql-editor {
  padding: 0 !important;
  font-size: inherit;
}